.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: #555;
  font-size: 36px;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

a{
  color: #e1e5ea;
}


H1{
  font-size: 7VW;
  color: rgba(18, 88, 168, 0.726);

}

#wc3{
  font-size: 3vw;
}

 

@media (max-width: 425px){
  
  .header {
   
    font-size: 30px;
    text-align: center;
   
  }
}
  
  